AddDefaultCharset utf-8


<IfModule mod_rewrite.c>
RewriteEngine On
#RewriteBase /
#RewriteRule ^index\.php$ - [L]
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule . /index.php [L]

#RewriteRule ^useful/([a-z]*) /index.php?category=useful&article=$1
#RewriteRule ^ctrl/([-a-zA-Z0-9])$ index.php/ctrl=$1 [L]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.*)/(.*)/(.*)$ index.php?ctrl=$1&act=$2&id=$3 [L]
RewriteRule ^(.*)/(.*)$ index.php?ctrl=$1&act=$2 [L]


</IfModule>